@import "../../global/mixins";

[data-component="image"] {

  .image-box {
    width: calc(100% + 160px);
    margin-left: -80px;
    //border: 5px solid white;
    margin-bottom: 40px;
    background: white;
    @include shadow2;

  }

  .normal-image-box {
    //height: calc(100% + 120px);
    //margin-top: -60px;
    //border: 5px solid white;
    //margin-bottom: 40px;
    background: white;
    @include shadow2;
  }

  .image {
    position: relative;

    .image-caption {
      position: absolute;

      background: white;
      @include shadow1;
      //position: absolute;
      padding: 10px 40px;
      left: -20px;
      bottom: 20px;
      z-index: 5;
      max-width: calc(50%);
      background: #333;
      background: $primary2;
      color: white;

      @include text4;
    }

    img {
      width: 100%;
    }

    .image-element {
      height: 450px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

}