
//$primary: #860f21;
$base: #f3b520;
$primary:darken($base, 0%);
//$primary: #6d222d;
//$primary: lighten($primary, 45%);
$primary2: darken($primary, 4%);
//$primary2: #6d222d;
//$secondary: #536d22;